<div class="app-container">
  <header class="app-header">
    <div class="header-content">
      <h1 routerLink="/">FILMER</h1>
      <nav class="nav-menu">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="/movies" routerLinkActive="active">Movies</a>
        <li class="nav-item">
          <a class="nav-link px-3 opacity-75 hover-op-100" routerLink="/tvshows"
            routerLinkActive="active opacity-100 fw-bold">TV Shows</a>
        </li>
        <a routerLink="/favorites" routerLinkActive="active">My List</a>
        <a routerLink="/search" routerLinkActive="active">Search</a>
      </nav>
    </div>
  </header>

  <main class="app-content">
    <router-outlet></router-outlet>
  </main>

  <footer class="app-footer">
    <p>&copy; 2026 Filmer Movie Rental System. All rights reserved.</p>
  </footer>
</div>